<h1><%=  @team_name %> </h1>
<h2>Team Motto: <%= @team_motto %></h2>

<% @team_members.each.with_index do |hero, index| %>
  <h2>Hero Name: <%= @my_hero_name[index] %></h2>
  <p>
    Hero power: <%= @my_hero_power[index] %>
    <br>
    Hero biography: <%= @my_hero_bio[index] %>
  </p>
<% end %>

